
.img-p{
	padding-bottom: 30px;
	
}
h1{
	margin-bottom: 50px;
}
.glyphicon-star{
	color: gold;
	
}
.rates{
	position: relative;
	position: absolute;
	top: 40px;
	right: 22px;
}
.title{
	font-weight: 700;
	font-size: 20px;
}
.col-md-6.gif > gif{
width:45%;

}
.gif-home{
text-align: center;

}
.gif-home img {
    display: inline-block;
    width: 100%;
}
.col-md-12.gif >gif{
width:90%;
}
.gif-detail img{
text-align: center;
width: 100%;
padding: 50px;
}